
{% extends 'base.html' %} {% block content %}

<h1>Room Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ room.name }}</span>
    <p>Description: {{ room.description }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'rooms_update' room.id %}">Edit</a>
    <a href="{% url 'rooms_delete' room.id %}">Delete</a>
  </div>
</div>
<div class="col s6">
  <!-- new code below -->
  <form method="post">
    {% csrf_token %} {{ chat_form.as_p }}
    <input type="submit" class="btn" value="Send Message" />
  </form>
  <!-- new code above -->
  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      {% for chat in room.chat_set.all %}
      <tr>
        <td>{{chat.name}}</td>
        <td>{{chat.message}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}